# dependencies
node_modules/
.pnp
.pnp.js
bun.lockb
bun.lock

# testing
coverage/

# next.js
.next/
out/
build/
dist/

# production
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dev.log
server.log

# local env files
.env
.env*.local
.env.production
.env.production.local
.env.development
.env.development.local

# vercel
.vercel

# prisma
prisma/migrations/dev.db
prisma/migrations/dev.db-journal

# editor
.vscode/
.idea/
*.swp
*.swo

# os
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
